<div class="row">
	<div class="col-xs-2">
		{{ if .Post.Id }}
			<a href="/delete/{{.Post.Id}}">Delete</a>
			<br/>
			<a href="/view/{{.Post.Id}}" target="_blank">View</a>
		{{ end }}
	</div>
	<div class="col-xs-4">
		<form role="form" method="POST" action="/SavePost">
			<input type="hidden" name="id" value="{{.Post.Id}}" />
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" id="title" name="title" value="{{.Post.Title}}"  />
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea id="content" name="content">{{.Post.ContentMarkdown}}</textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div class="col-xs-6" id="md_html">
		{{.Post.ContentHtml | unescape }}
	</div>
</div>

<script type="text/javascript" src="/assets/js/write.js"></script>
